DATABASE_URL=replace_me_with_your_database_url

JWT_SECRET_KEY=replace_me_with_your_jwt_secret_key
JWT_ALGORITHM=replace_me_with_your_jwt_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=replace_me_with_your_access_token_expire_minutes

AWS_ACCESS_KEY_ID=replace_me_with_your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=replace_me_with_your_aws_secret_access_key
AWS_REGION=replace_me_with_your_aws_region
AWS_S3_BUCKET=replace_me_with_your_aws_s3_bucket_name

OPENAI_API_KEY=replace_me_with_your_openai_api_key